.color{
    color: rgb(53, 53, 53)
}
.container-detail{
    height: 110vh;
    margin: 0;
}
.btn-detail a{
    border: 1px solid rgb(102, 102, 102) ;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2px 10px;
    color: aliceblue;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.btn-detail a:hover{
    background-color: rgba(43, 43, 43, 0.3)
}
.detail{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 5px 100px;
}
.detail img{
    width: 85%;
    display: block;
    margin: auto;
}
.detail div{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 30px;
}
.detail h1{
    font-size: 25px;
}