.container {
  min-height: 100vh;
}
.title {
    margin: 0;
    padding: 100px;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ffffff, #000000);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
.button {
  box-shadow: 3px 3px 15px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 20px;
  border: 2px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.button:hover {
  background: linear-gradient(to bottom, #353131 5%, #ededed 100%);
  background-color: #bab1ba;
}
.button:active {
  position: relative;
  top: 1px;
}
