.ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0rem 10rem;
  border-radius: 100px;
  background-color: rgba(80, 80, 80, 0.473);
}
.li {
  padding: 8px;
  border-radius: 20%;
  cursor: pointer;
}
.a {
  font-size: 10px;
  text-decoration: none;
  color: white;
}
